{
  "extends": [
    "stylelint-config-html/astro"
  ],
  "customSyntax": "postcss-scss",
  "overrides": [
    {
      "files": [
        "**/*.astro"
      ],
      "customSyntax": "postcss-html"
    }
  ]
}