---
import Dust from "@components/Dust/Dust.astro";
import Layout from "../layouts/Layout.astro";
import SocialMedia from "@components/SocialMedia.astro";
---

<Layout title="Piotr Sochacz - Software Engineer">
  <main class="o relative flex h-screen w-full justify-center overflow-hidden">
    <img
      class="absolute left-0 top-0 z-10 h-screen w-full object-cover object-[80%] md:object-right"
      src="/intro.webp"
      alt="Background image presenting cave"
    />
    <div
      class="container absolute bottom-8 left-6 z-30 mx-auto md:left-auto landscape:bottom-8 landscape:lg:bottom-28"
    >
      <h1 class="">
        <span class="text-5xl text-slate-100">Piotr Sochacz</span>
        <br />
        <span class="font-serif text-2xl text-slate-300">
          Software Engineer
        </span>
      </h1>
      <SocialMedia />
    </div>
    <Dust class="absolute left-0 top-0 z-20" />
  </main>
</Layout>
