---
import Dust from "@components/Dust/Dust.astro";
import Layout from "../layouts/Layout.astro";
import SocialMedia from "@components/SocialMedia.astro";
---

<Layout title="Piotr Sochacz - Software Engineer">
  <main
    class="o relative flex h-screen w-full justify-center overflow-hidden intro"
  >
    <img
      class="absolute left-0 top-0 z-10 h-screen w-full object-cover object-[80%] md:object-right"
      src="/intro.webp"
      alt="Background image presenting cave"
    />
    <div
      class="container absolute bottom-8 left-6 z-30 mx-auto md:left-auto landscape:bottom-8 landscape:lg:bottom-1/4"
    >
      <h1 class="">
        <span class="text-5xl text-slate-100">Piotr Sochacz</span>
        <br />
        <span class="font-serif text-2xl text-slate-300">
          Software Developer
        </span>
      </h1>
      <SocialMedia />
    </div>
    <Dust class="absolute left-0 top-0 z-20" />
  </main>
</Layout>
<style>
  .intro:after {
    animation: grain 8s steps(10) infinite;
    content: "";
    background-image: url(/noise.png);
    height: 300%;
    left: -50%;
    opacity: 0.015;
    position: fixed;
    z-index: 10;
    top: -100%;
    width: 300%;
  }

  @keyframes grain {
    0%,
    100% {
      transform: translate(0, 0);
    }
    10% {
      transform: translate(-5%, -10%);
    }
    20% {
      transform: translate(-15%, 5%);
    }
    30% {
      transform: translate(7%, -25%);
    }
    40% {
      transform: translate(-5%, 25%);
    }
    50% {
      transform: translate(-15%, 10%);
    }
    60% {
      transform: translate(15%, 0%);
    }
    70% {
      transform: translate(0%, 15%);
    }
    80% {
      transform: translate(3%, 30%);
    }
    90% {
      transform: translate(-10%, 10%);
    }
  }
</style>
