---
import { getImage } from "astro:assets";
import "styles/global.css";

interface Props {
  title: string;
  image?: ImageMetadata;
}

const { title, image } = Astro.props;

const ogImage = image
  ? Astro.site.origin +
    (
      await getImage({
        src: image,
        width: 1200,
        height: 630,
        fit: "cover",
        position: "top",
        format: "png",
        quality: "mid",
      })
    ).src
  : "";
---

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Dosis&family=Hepta+Slab:wght@300&display=swap");
</style>
<meta charset="UTF-8" />
<meta
  name="description"
  content="Piotr Sochacz - Professional Software Developer & Hobbyst Artist"
/>
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.png" /><link
  rel="alternate"
  type="application/rss+xml"
  title="Piotr Sochacz - Professional Software Developer & Hobbyst Artist"
  href={new URL("rss.xml", Astro.site)}
/>
<meta name="generator" content={Astro.generator} />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, viewport-fit=cover"
/>

<meta name="theme-color" content="#010101" />
<meta
  name="theme-color"
  content="oklch(0.97 0.01 316.68)"
  media="(prefers-color-scheme: light)"
/>
<meta
  name="theme-color"
  content="oklch(0.22 0.01 52.96)"
  media="(prefers-color-scheme: dark)"
/>
<title>{title}</title>

<!-- Facebook Meta Tags -->
<meta property="og:url" content={Astro.site} />
<meta property="og:type" content="website" />
<meta property="og:title" content="Piotr Sochacz - Ballerina" />
<meta
  property="og:description"
  content="Piotr Sochacz - Professional Software Developer & Hobbyst Artist"
/>
<meta property="og:image" content={ogImage} />
