---
import clsx from "clsx";

type Props = {
  theme?: "auto" | "dark" | "light";
};

const { theme = "auto" } = Astro.props;

const services = [
  {
    href: "https://www.linkedin.com/in/piotr-sochacz/",
    icon: {
      src: {
        light: "/logos/InBug-Black.png",
        dark: "/logos/InBug-White.png",
      },
      alt: "LinkedIn service logo",
    },
  },
  {
    href: "https://github.com/Piotr-Aueternum",
    icon: {
      src: {
        light: "/logos/GitHub_Invertocat_Black.svg",
        dark: "/logos/GitHub_Invertocat_White.svg",
      },
      alt: "GitHub service logo",
    },
  },
  {
    href: "https://www.instagram.com/piotr.sochacz/",
    icon: {
      src: {
        light: "/logos/Instagram_Glyph_Black.svg",
        dark: "/logos/Instagram_Glyph_White.svg",
      },
      alt: "Instagram service logo",
    },
  },
];
---

<ul class="mt-4 flex items-center gap-x-4 text-lg dark:text-slate-100">
  {
    services.map((service) => (
      <li>
        <a
          class="block text-blue-600 dark:text-amber-300"
          target="_blank"
          rel="noreferrer"
          href={service.href}
        >
          <picture>
            <source
              srcset={
                theme === "auto"
                  ? service.icon.src.light
                  : service.icon.src[theme]
              }
              media="(prefers-color-scheme: light)"
            />
            <img
              src={
                theme === "auto"
                  ? service.icon.src.dark
                  : service.icon.src[theme]
              }
              alt={service.icon.alt}
              width={36}
              height={36}
            />
          </picture>
        </a>
      </li>
    ))
  }
  <li>
    <a
      class="block font-serif text-blue-600 dark:text-amber-300"
      target="_blank"
      rel="noreferrer"
      href="https://drive.google.com/file/d/1xFyNcjsMJ7U4Dmpuw7wl7PVtkHo4zZha/view?usp=sharing"
      title="Curriculum vitae"
    >
      <div
        style="corner-shape: squircle"
        class={clsx(
          "flex h-9 w-9 items-center justify-center rounded-md border-3  text-[1rem]/9 font-bold uppercase",
          theme === "auto" &&
            "border-black text-black  dark:border-slate-50 dark:text-slate-50",
          theme === "dark" && "border-slate-50 text-slate-50",
          theme === "light" && "border-black text-black",
        )}
      >
        cv
      </div>
    </a>
  </li>
</ul>
