---

---

<button
  id="toggle"
  commandfor="tocpopover"
  command="toggle-popover"
  class="bg-popover sticky top-4 rounded-xs p-1 lg:hidden"
  >Table of Contents</button
>

<div
  popover
  id="tocpopover"
  class="bg-popover backdrop:bg-popover text-popover-foreground h-2/3 w-2/3 pl-4 backdrop:opacity-50 max-lg:p-4 lg:sticky lg:top-4 lg:block lg:h-full lg:w-full lg:overflow-visible lg:bg-transparent"
>
  <button
    class="bg-accent absolute end-0 top-0 aspect-square w-6 rounded-xs p-1 lg:hidden"
    commandfor="tocpopover"
    command="hide-popover"
    title="close">x</button
  >
  <div
    class="absolute p-4 lg:left-full lg:w-[calc((100dvw-var(--container-2xl))/2)]"
  >
    <span class="font-serif">Table of Contents</span>
    <aside>
      <nav>
        <ul id="table-of-contents" class="table-of-contents sticky top-0">
          <li class="ps-4">
            <a href="#">Start</a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

<style scoped>
  .table-of-contents {
    li::before {
      content: "-";
      margin: 0 0.25rem;
    }
  }
</style>

<script defer is:inline>
  window.addEventListener("DOMContentLoaded", () => {
    const toc = document.querySelector("#table-of-contents");
    const df = document.createDocumentFragment();
    document
      .querySelectorAll("h2,h3,h4,h5,h6")
      .values()
      .filter((el) => el.id)
      .forEach((el) => {
        const level = el.tagName.toLowerCase().replaceAll("h", "") ?? 6;
        const li = document.createElement("li");
        li.style.paddingInlineStart = `${level / 2}rem`;
        const a = document.createElement("a");
        a.textContent = el.textContent;
        a.href = `#${el.id}`;
        li.appendChild(a);
        df.appendChild(li);
      });
    toc.appendChild(df);
    toc.addEventListener("click", (el) => {
      console.log(el);
      if (el.target.tagName === "A") {
        document.querySelector("#tocpopover").hidePopover();
      }
    });
  });
</script>
